<!--<%#= form_tag("/users/#{@user.id}/update") do %>-->
<!--  <textarea name="email"><%#= @user.email %></textarea>-->
<!--    <input type="submit" value="保存">-->
<!--<%# end %>-->

<%= form_with model: @user, url: update_path(@user.id) do |form| %>
    <label for="email">email</label>
    <%= form.text_field :email %>
    <%= form.submit %> 
<% end %>
     

