<h1>新規登録</h1>

<%= form_with model: @user, url: create_path do |form| %>
        <label for="email">email</label>
          <%= form.text_field :email %>
        <label for="password">password</label>
          <%= form.password_field :password %>
          <%= form.submit %>
<!--<% end %>-->


